.build/
.DS_Store
xcuserdata/
*.xcuserstate
site/downloads/*.zip
site/downloads/*.dmg
site/downloads/*.exe
mockups/
windows/node_modules/
windows/build/
windows/dist/
windows/runtime/

# Local Netlify folder
.netlify
